.completed {
    text-decoration: line-through;
    color: red;
    display: inline-block;
    margin: 5px;
}

.uncompleted {
    display: inline-block;
    margin: 5px;
    text-align: center;
}

.inputAndSureEdited {
    display: inline-block;
    margin: 5px;
}

.inputAndSureNotEdited {
    display: none;
}

.edited {
    display: none;
}

.notEdit {
    display: inline-block;
    margin: 5px;
}

button {
    margin: 5px;
}